#!/usr/bin/make -f
# -*- makefile -*-

# Tell dh-golang where this package lives upstream
export DH_GOPKG := github.com/dotcloud/docker
# Tell dh-golang that we DO need subpackages
export DH_GOLANG_INSTALL_ALL := 1

# Set temporary build paths
GO_PATH = $(CURDIR)/obj-`arch`-linux-gnu
DOCKER_PATH = obj-`arch`-linux-gnu/src/github.com/dotcloud/docker/docker
DOCKER_VERSION = $(shell cat VERSION)
# TODO figure out a better place to store this exact hash (in the changelog somehow?)
GITCOMMIT = 0d078b65


override_dh_auto_build:
	# TODO replace this with a proper golang sqlite3 dev package
	GOPATH=${GO_PATH} go get -d code.google.com/p/gosqlite/sqlite3
	GOPATH=${GO_PATH} DOCKER_GITCOMMIT=${GITCOMMIT} ./hack/make.sh dynbinary


override_dh_auto_install:
	dh_auto_install
	mkdir -p debian/docker.io/usr/bin
	mv bundles/${DOCKER_VERSION}/dynbinary/docker-${DOCKER_VERSION} debian/docker.io/usr/bin/docker.io
	# TODO replace this with usr/lib/docker.io (see https://github.com/dotcloud/docker/pull/2924)
	mkdir -p debian/docker.io/usr/libexec/docker
	mv bundles/${DOCKER_VERSION}/dynbinary/dockerinit-${DOCKER_VERSION} debian/docker.io/usr/libexec/dockerinit
	# The source of docker does not make a library, so dont ship it.
	rm -rf debian/docker.io/usr/share/gocode


override_dh_auto_test:


override_dh_installchangelogs:
	dh_installchangelogs CHANGELOG.md


%:
	dh $@ --buildsystem=golang --with=golang,systemd
